<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim voluptatibus a libero in nisi, amet rerum quidem expedita facere ipsa magnam consequatur illo cupiditate assumenda, consequuntur asperiores voluptate quos.</p>

  {{> footer}}
</body>
</html>